sudo: required
language: python

services:
  - rabbitmq

python:
  - "3.6.1"

# command to install dependencies
install:
  - pip install -r requirements.txt

# command to run tests
script:
  - curl -i -u $USERNAME:$PASSWORD -X PUT http://localhost:15672/api/vhosts/$VHOST
  - curl -i -u $USERNAME:$PASSWORD -X PUT http://localhost:15672/api/permissions/$VHOST/$USERNAME -d '{"configure": ".*", "write": ".*", "read": ".*"}'
  - pytest tests
