dist: xenial
sudo: true
language: python
cache: pip

addons:
  apt:
    packages: rabbitmq-server
  
services: rabbitmq

python: "3.6.1"

# command to install dependencies
install:
  - pip install -r requirements.txt

# Create a virtual host in RabbitMQ server
before_script:
  - sudo rabbitmq-plugins enable rabbitmq_management
  - curl -i -u $USERNAME:$PASSWORD -X GET $BASE_URL/vhosts
  - curl -i -u $USERNAME:$PASSWORD -X XPUT $BASE_URL/vhosts/$VHOST
  - curl -i -u $USERNAME:$PASSWORD -X GET $BASE_URL/vhosts/$VHOST
  - curl -i -u $USERNAME:$PASSWORD -X PUT $BASE_URL/permissions/$VHOST/$USERNAME -d {$PERMISSION}

# command to run tests
script:
  - pytest tests -x --cov=broker_rabbit --cov-fail-under=76
